# URL de la API del Backend para desarrollo local (redirecciona las llamadas locales a la API)
# Local: http://localhost:3000 | Remoto: https://neohw-backend.onrender.com/api/v1
VITE_API_URL=https://neohw-backend.onrender.com/api/v1


